# Bike Sharing

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Preprocessing

In [2]:
ls

P_Practice Bike Sharing.ipynb  test.csv
data.csv                       train.csv
sampleSubmission.csv

In [3]:
df1 = pd.read_csv('train.csv')
df1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [5]:
df1.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

### Changing the Categorical Data

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder1 = LabelEncoder()
df1['datetime'] = encoder1.fit_transform(df1['datetime'])
df1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

### Droping a column having all Unique Value

In [7]:
df1.shape

(10886, 12)

In [9]:
for column, data in df1.items():
    if (df1[column].nunique() == 10886):
        df1 = df1.drop(columns = column, axis = 1)       
df1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

### Defining Dependent & Independent Variable

In [ ]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values

In [ ]:
X

In [ ]:
y

# Splitting The DataSet into Training & Test Set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Model Building

## Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

### Model Initialization

In [ ]:
rfr = RandomForestRegressor(n_estimators = 10, random_state = 0)

### Training the Model

In [ ]:
rfr.fit(X_train, y_train)

### Predicting the Test Set Result

In [ ]:
y_rfr_pred = rfr.predict(X_test)

In [ ]:
y_test_ver = y_test.reshape(len(y_test), 1)

In [ ]:
y_rfr_pred = y_rfr_pred.reshape(len(y_rfr_pred), 1)

In [ ]:
np.concatenate((y_rfr_pred, y_test_ver), axis = 1)

### Calculating r2_score

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test, y_rfr_pred)

### Calculating mean_square_error

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_rfr_pred)

## Decision Tree Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor

### Initializing the Model

In [ ]:
dtr = DecisionTreeRegressor(random_state = 0)

### Training the Model

In [ ]:
dtr.fit(X_train, y_train)

### Predicting the Test Set Result

In [ ]:
y_dtr_pred = dtr.predict(X_test)

In [ ]:
y_dtr_pred = y_dtr_pred.reshape(len(y_dtr_pred), 1)

In [ ]:
np.concatenate((y_dtr_pred, y_test_ver), axis = 1)

### Calculating r2_score

In [ ]:
r2_score(y_test, y_dtr_pred)

### mean_squared_error

In [ ]:
mean_squared_error(y_test, y_dtr_pred)

# Try